.popUpContainer {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  animation-name: opacity;
  animation-duration: 300ms;
}
.popUpTitleAndClose {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
  .closeBtn {
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
  }
}
.popUp {
  position: absolute;
  background: white;
  width: 320px;
  height: 460px;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -230px;
  padding: 40px;
  border-radius: 10px;
  h1 {
    font-size: 3rem;
  }
  img {
    width: 100%;
  }
}

.rules {
  width: 100%;
}
