.optionContainer {
  display: flex;
  justify-content: center;
}
.option {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  padding: 40px;
  img {
    width: 80%;
  }
  @media (max-width: 700px) {
    padding: 20px;
    width: 120px;
    height: 120px;
  }
}
