.App {
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;

  margin-left: auto;
  margin-right: auto;
  @media (max-width: 967px) {
    & {
      width: 90%;
      height: 90%;
    }
  }
}

.rulesButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  border: solid 3px white;
  background: transparent;
  color: white;
  cursor: pointer;
  outline: 0;
}

.rulesButton:hover {
  background: white;
  color: #111;
}
